*{
    margin: 0;
    padding: 0;
}

.main{
    
    background-color: rgb(247, 252, 250);
}
.main h1{
    text-align: center;
    border-bottom: 6px solid #ddd;
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.main ol{
    margin: 0 0 11px 100px;
}
.main li{
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
    