
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
input{
  display:block;
  width:100%;
  padding:.2em;
  margin: .2em 0 .6em;
  font-size:1.2em;
}
input[type=submit]{
  background:salmon;
  border:none;
  margin:1em 0;
  color:white;
  padding:1em;
}
.message{
  background:blanchedalmond;
  padding: 1em .5em;
  margin: 1em 0;
}


html{
  background: #DDD;
}
body{
  padding:5%;
  background: white;
  max-width:30em;
  margin: 6% auto;
  box-shadow:1em 1em 0 0 rgba(0,0,0,.2);
  font-family:Raleway, sans-serif;
}
a{
  text-decoration-line: none;
  font-family: sans-serif;
  font-size: 19px;
}
a:hover{
  color: salmon;
}